@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Register";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card col-sm-12 col-md-6 col-lg-4">
<h1>Register</h1>

<h4>UserProfile</h4>
<hr />
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" type="hidden" class="control-label"/>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="CreateDateTime" value="@DateTime.Now" type="hidden" class="form-control" />
                    
                </div>
                <div class="form-group">
                    @*<label asp-for="ImageLocation" type="hidden" class="control-label"></label>*@
                    <input asp-for="ImageLocation" type="hidden" class="form-control"/>
                    @*<span asp-validation-for="ImageLocation" class="text-danger"></span>*@
                       
                </div>
                <div class="form-group">
                    <input asp-for="UserTypeId" type="hidden" value="2" />
                </div>
                <div class="form-group">
                    <input asp-for="FullName" type="hidden" class="control-label" />

                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
        </div>
    </div>
</div>
    <div class="row justify-content-center">>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
